

.grid__notas{
    text-align: center;
    margin: 20px 0 10px;
    word-spacing: 0.2rem;
    line-height: 1.3rem;

}

h1{
    color:rgb(14, 1, 1);
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
}

h2{
    margin-top: 2%;
    text-align: center;
}
.grid__titulo{
    font-size: 20px;
    
}
.grid1__listado{ 
    font-size: 0.5em; 
}
.grid1__titulo{
    font-size: 1.5em;
    text-align: left;
    font-style: italic;
    padding-bottom: 0.2em;
    
    
}
.TextoGaleriaFotos{
    font-size: 40px;
    margin-bottom: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.header__titulo{
    color: rgb(0, 1, 5);
    text-align: end;
    margin-right: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
.container__titulo{
    font-size: 2.5em;
    margin-bottom: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container p{
    margin-top: 20px;
    word-spacing: 0.2rem;
    line-height: 1.4rem;
    
}

