@import "generales";
@import "menu";
@import "imagenes";
@import "grilla";
@import "variables";
@import "textos";
@import "paquetes";



/*MEDIA O RESPONSIVE O MOBIL FIRST*/
@media screen and (min-width: 360px) and (max-width: 640px)
    {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 80%;
        
    }
    header{
        height: 9em;
        
    }
    nav{
        background-color: black; 
        text-align: center;
        margin-top: 2.1em;
        height: 1em;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        
    }   
    li{
        display: inline-block;
        width: 13em;
        position: relative;
        font-size: 0.4em;
    }
    h1{color: rgb(8, 0, 0);
        font-size: 1px;
}
    .header__logo{
        display: block;
        width: 3em;
        margin-left: 50%;
        margin-top: 6%;
    

    }
    h1{
        font-size: 12px;
    }
    .header__proAnglers{
        margin-left: 45%;
        color: red;
    }

    .contenedorpaquete{
        width: 90%;
        max-width: 62.5em;
        margin: 1.25em auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 1fr, 1fr, 1fr);
        grid-template-areas: 
            "logopaquete navpaquete navpaquete navpaquete"
            "incluye incluye comodidades comodidades"
            "fotospaquete fotospaquete fotospaquete fotospaquete"
            "footerpaquete footerpaquete footerpaquete footerpaquete";
        grid-gap: 0.625em;}
    
}
@media only screen and (min-width: 640px) and (max-width: 768px)

    {
    .grid{
        grid-template-columns: repeat(2,1fr);
        background-size: fixed;
    }
    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        grid-column-gap: 3em;
    }

    h1{ color: white;}
    header{
        height: 17em;
      
    }
    .header__logo{
        display: block;
        width: 3em;
        margin-left: 50%;
        margin-top: 6%;
    } 
    nav{
        background-color: #2b455c;
        text-align: center;
        margin-top: 6em;
        height: 3em;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
    }
    h1{
        font-size: 12px;
    }
    .header__proAnglers{
        margin-left: 45%;
    }
    .contenedorpaquete{
        width: 90%;
        max-width: 62.5em;
        margin: 1.25em auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 1fr, 1fr, 1fr);
        grid-template-areas: 
            "logopaquete navpaquete navpaquete navpaquete"
            "incluye incluye comodidades comodidades"
            "fotospaquete fotospaquete fotospaquete fotospaquete"
            "footerpaquete footerpaquete footerpaquete footerpaquete";
        grid-gap: 0.625em;}
}
@media only screen and (min-width:769px) and (max-width:1024px)
    {
    .grid{
      
        background-size: fixed;
    }
    header{
        height: 21em;
    }
    .header__logo {
        display: block;
        width: 5em;

    }
    nav {
        margin-top: 2em;
    }
    ul li {
        width: 8em;
        font-size: 1,2rem;

    }
    .grid1 {
        margin-top: 2em;
        grid-column-gap: 0em;
    }    
}
